# Unity klasörleri
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# Sistem dosyaları
sysinfo.txt
*.log
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# JetBrains
Assets/Plugins/Editor/JetBrains*

# Export ve derleme çıktıları
ExportedObj/
*.apk
*.aab
*.app
*.unitypackage
*.unitypackage.meta

# Crashlytics
crashlytics-build.properties

# Addressables ve StreamingAssets çıktıları
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/
Assets/AddressableAssetsData/**/*.bin*

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
*.env
*.env.*
*.egg-info/
.eggs/

# Gereksiz meta dosyaları
*.pidb.meta
*.pdb.meta
*.mdb.meta
